* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}


h1 {
    font-family: 'Syne Mono', monospace;
    color: blue;
}

p {
        font-size: 23px;
        font-family: 'Englebert', sans-serif;
    
    }
